<body>
       <div class="wrapper">
      
        <div class="jumbotron">
                <div class="container">
                  <h1 class="display-4"><span class= "strains">Strains</span> 2 <span class="resturants">Restaurants</span></h1>
                  <p class="lead">WE ARE HERE FOR YOUR TASTE BUDS!</p>
                </div>
              </div>
            <br>
            <br>
           <div class="container">
             
              <div class="card-deck">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">STRAINS</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      </div>
                      <div class="card-footer">
                            
                         <nav class="navbar  ">
                            <a class="navbar-brand"></a>
                            <form class="form-inline">
                             <input class="form-control" id="searchInput" type="search" placeholder="Search" aria-label="Search">
                                 <button class="btn btn-outline-success my-2 my-sm-0" id="submitBtn" type="submit">Search</button>
                             </form>
                         </nav>
                                  
                      </div>
                    </div>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <div class="card">
                      <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
                      <div class="card-body">
                        <h5 class="card-title">RESTAURANTS</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                      </div>
                      <div class="card-footer">
                            <form>
                                    <div class="form-row">
                                      <div class="col-7">
                                        <input type="text" class="form-control" placeholder="City">
                                      </div>
                                      <div class="col">
                                        <input type="text" class="form-control" placeholder="State">
                                      </div>
                                      <div class="col">
                                        <input type="text" class="form-control" placeholder="Zip">
                                      </div> 
                                    </div>
                                  </form>
                      </div>
                    </div>
            </div>
            <div class="container"></div>
   </div>
   <!-- <iframe src="http://www.thcfinder.com/webapi/?sid=0&near=5&strains=5&blog=5" style="border:0px #FFFFFF none;" name="thcfinder_web_api" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" height="1150px" width="300px" allowTransparency="true"></iframe> -->
   <footer>
      <div class="container">
        &copy; Copyright Lauren Brown & Ruben Clements
      </div>
    </footer>
            
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="assets/javascript/app.js"></script>
</body>
